<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
	<img src="images/abide_logo.jpg">
        <center>
	<h1>PREPROCESSED</h1>
	<p class="view"><a href="http://fcon_1000.projects.nitrc.org/">Part of 1000 Functional Connectomes</a></p>
	</center>
	<hr></hr>
	  <ul>
	    <li><strong><center>download here</center></strong></li>
	  </ul>
	<navbar>
	  {% include nav.html %}
	</navbar>
      </header>
      {{ content }}
  </body>

      <footer>
        <p>This project is maintained by <a href="https://github.com/stymy">stymy</a> @ <a href="http://www.childmind.org">cmi</a>. For <strong>contact and support</strong>, <a href="watanabe.aimi@childmind.org">email me</a></p>
      </footer>
    <script src="javascripts/scale.fix.js"></script>
</html>
